body {
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-height: 100vh;

    background-image: url(artem-bali-680663-unsplash.jpg);
    background-size: cover;
}

.fa-cogs {
    font-size: 120px;
    color: #333;

    margin-bottom: 30px;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 60px;

    width: 50vw;
}

.maintenence-title {
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    color: #333;
}

.maintenence-description {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    color: #333;

    margin-bottom: 30px;
}

.contato-link {
    font-weight: 600;
    text-decoration: none;
    color: rgb(244, 139, 32);
}

.contato-link:hover {
    color: #333;
}

.logo {
    height: 40px;
    width: auto;
}

@media (max-width: 800px) {
    .fa-cogs {
        font-size: 100px;
    }

    .text-box {
        text-align: center;

        justify-content: center;
        align-items: center;
        width: auto;

        padding: 20px;
        padding-top: 60px;
    }

    .maintenence-title {
        margin-top: 10px;
        font-size: 40px;
        text-align: center;
    }
}